@use './mixins' as *;
@use './variables' as *;

* {
    @include prefixer(box-sizing, border-box, webkit moz);
}

body {
    @include flex(center, center);
    background-color: $main-background;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}